<script>
  import { scaleLinear, scaleTime } from "d3-scale";

  export let data = [];
  export let week = 1;
  export let yDomainElectricity = [0, 0];
  export let yDomainGas = [0, 0];
  export let length = 100;
  export let width = 50;

  let paths = ["", ""];

  function getDateObjFromRecord(record) {
    const hour = String(record.hour).padStart(2, "0");
    const day = String(record.day).padStart(2, "0");
    return new Date(`2014-12-${day}T${hour}:00:00.000Z`);
  }

  function generatePath(data, width, length) {
    const halfWidth = width / 2;
    const paths = [`M 0,${halfWidth}`, `M 0,${halfWidth}`];
    data.map((record) => {
      const xDomain = [
        getDateObjFromRecord(data[0]),
        getDateObjFromRecord(data[data.length - 1]),
      ];
      const xScale = scaleTime().domain(xDomain).range([0, length]);
      const yScaleElectricity = scaleLinear()
        .domain(yDomainElectricity)
        .range([halfWidth, 1]);
      const yScaleGas = scaleLinear()
        .domain(yDomainGas)
        .range([1, halfWidth]);
      const dateObj = getDateObjFromRecord(record);
      paths[0] += ` ${xScale(dateObj)},${yScaleElectricity(record.total_electrity)}`;
      paths[1] += ` ${xScale(dateObj)},${yScaleGas(record.total_gas) + halfWidth}`;
    });
    paths[0] += ` ${length},${halfWidth} Z`;
    paths[1] += ` ${length},${halfWidth} Z`;
    return paths;
  }

  $: paths = generatePath(data, width, length);
</script>

<g>
  <path d={paths[0]} stroke="#0284C7" fill="#0284C7">
    <title>Electricity week {week}</title>
  </path>
  <path d={paths[1]} stroke="#FFAE03" fill="#FFAE03">
    <title>Gas week {week}</title>
  </path>
</g>