<script>
  import { json } from "d3-fetch";
  import { scaleLinear, scaleTime } from "d3-scale";
  import { max } from "d3-array";
  import { onMount } from "svelte";

  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const maxYScale = innerHeight / 16;

  let originalData = null;
  let plotData = null;
  let pathData = null;
  let selectedCity = "Baltimore";
  let selectedScalingMode = "across";

  function groupDataByCity(data) {
    const mappedData = {
      "Baltimore": [],
      "Chicago": [],
      "Los Angeles": [],
    };
    data.forEach((item) => {
      mappedData[item.city].push(item);
    });
    return mappedData;
  }

  function groupDataByBuildingType(data) {
    const mappedData = {};
    data.forEach((item) => {
      if (mappedData[item.buildingtype]) {
        mappedData[item.buildingtype].push(item);
      } else {
        mappedData[item.buildingtype] = [item];
      }
    });
    return mappedData;
  }

  function pathGenerator(data, city, scalingMode) {
    if (!data) return {};
    const source = data[city];
    const dataByBuildingType = groupDataByBuildingType(source);

    const xDomain = [
      new Date("2014-12-01T01:00:00.000Z"),
      new Date("2014-12-31T23:00:00.000Z")
    ];
    const yDomainAcross = [0, max(source.map(item => item.total_heating_energy))]
    const xScale = scaleTime().domain(xDomain).range([0, innerWidth]);
    const yScaleAcross = scaleLinear().domain(yDomainAcross).range([maxYScale, 1]);

    const paths = {};

    Object.keys(dataByBuildingType).forEach((key, buildingIndex) => {
      const dataBuilding = dataByBuildingType[key];
      const yDomainWithin = [0, max(dataBuilding.map(item => item.total_heating_energy))];
      const yScaleWithin = scaleLinear().domain(yDomainWithin).range([maxYScale, 1]);
      const yScale = scalingMode === "across" ? yScaleAcross : yScaleWithin;

      let path = `M 0,${maxYScale + 1}`;

      dataBuilding.forEach((value, idx) => {
        const hour = String(value.hour).padStart(2, '0');
        const day = String(value.day).padStart(2, '0');
        const date = new Date(`2014-12-${day}T${hour}:00:00.000Z`);
        path += ` ${xScale(date)},${yScale(value.total_heating_energy)}`;
      });
      path += ` ${innerWidth},${maxYScale + 1} Z`;

      paths[key] = [buildingIndex, path];
    })

    return paths;
  }

  onMount(async () => {
    originalData = await json("/data/hourly_heating_december.json");
    plotData = groupDataByCity(originalData);
  });

  $: pathData = pathGenerator(plotData, selectedCity, selectedScalingMode);
</script>

{#if plotData === null}
  <p>Fetching data. Please Wait...</p>
{:else}
  <svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
      {#each Object.entries(pathData) as [buildingType, value]}
        <g transform="translate(0, {value[0] * maxYScale - maxYScale / 2})">
          <path d={value[1]} fill="black" stroke="black">
            <title>{buildingType}</title>
          </path>
        </g>
      {/each}
    </g>
  </svg>
  <div class="ms-4">
    <p class="mb-2"><b>Location</b></p>
    {#each Object.keys(plotData) as city}
      <div class="form-check">
        <input class="form-check-input" type="radio" name="city" id={`city-${city}`} value={city} bind:group={selectedCity}>
        <label class="form-check-label" for={`city-${city}`}>{city}</label>
      </div>
    {/each}
    <p class="mt-4 mb-2"><b>Scaling</b></p>
    {#each ["across", "within"] as scalingMode}
      <div class="form-check">
        <input class="form-check-input" type="radio" name="scalingMode" id={`scalingMode-${scalingMode}`} value={scalingMode} bind:group={selectedScalingMode}>
        <label class="form-check-label" for={`scalingMode-${scalingMode}`}>{scalingMode}</label>
      </div>
    {/each}

  </div>
{/if}

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>