<script>
  import { max } from "d3-array";
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import Leave from './_design_3_leave.svelte';

  // Size and margins
  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  let originalData = [];
  let plotData = {};
  let yDomainElectricity = [0, 0];
  let yDomainGas = [0, 0];

  const leaveLength = 150;
  const leaveWidth = 70;
  const leaveRotateDeg = 10;
  const trunkLength = 5 * leaveWidth;

  function groupDataByCityAndWeek(data) {
    const mappedData = {
      "Chicago": {},
    };
    data.forEach((item) => {
      if (mappedData[item.city][item.week]) {
        mappedData[item.city][item.week].push(item);
      } else {
        mappedData[item.city][item.week] = [item];
      }
    });
    return mappedData;
  }

  function getTransform(index, rotateDeg, length) {
    const isRightSide = (index + 1) % 2 === 1;
    const left = margin.left + (isRightSide ? length - (rotateDeg / 2 + 3) : length);
    const top = (margin.top + 50) * (4 - index);
    let transform = `translate(${left}, ${top})`;
    if (isRightSide) {
      transform += ` rotate(${-rotateDeg})`;
    } else {
      transform += ` rotate(${rotateDeg})`;
      transform += " scale(-1, 1)";
    }
    return transform;
  }

  onMount(async () => {
    originalData = await json("/data/hourly_electricity_vs_gas_december.json");
    groupDataByCityAndWeek(originalData);
  });

  $: plotData = groupDataByCityAndWeek(originalData);
  $: yDomainElectricity = [0, max(originalData.map((record) => record.total_electrity))];
  $: yDomainGas = [0, max(originalData.map((record) => record.total_gas))];
</script>

{#if plotData === null}
  <p>Fetching data. Please Wait...</p>
{:else}
  <svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
      <g transform="translate({innerWidth / 2 - leaveLength}, {innerHeight / 2 - trunkLength / 2})">
        <line
          x1={leaveLength - 4 + margin.left}
          y1="0"
          x2={leaveLength - 4 + margin.left}
          y2={trunkLength}
          stroke="black"
        />
        {#each Object.entries(plotData["Chicago"]) as [week, data], index}
          <g transform={getTransform(index, leaveRotateDeg, leaveLength)}>
            <Leave
              data={data}
              week={week}
              width={leaveWidth}
              length={leaveLength}
              yDomainGas={yDomainGas}
              yDomainElectricity={yDomainElectricity}
            />
          </g>
        {/each}
      </g>
      <text
        transform="translate({innerWidth / 2}, {margin.top})"
        text-anchor="middle"
        dominant-baseline="middle">
        Chicago (December 2014)
      </text>
      <g transform="translate(0, {innerHeight - 65})">
        <text>1 leaf = data per 1 week</text>
        <g transform="translate(0, 25)">
          <rect transform="translate(0, -10)" width="10" height="10" fill="#0284C7"/>
          <text transform="translate(15, 0)">= electricity usage</text>
        </g>
        <g transform="translate(0, 50)">
          <rect transform="translate(0, -10)" width="10" height="10" fill="#FFAE03"/>
          <text transform="translate(15, 0)">= gas usage</text>
        </g>
      </g>
    </g>
  </svg>
{/if}

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>