<script>
  let current = "";
</script>
<style>
  .clickbackg {
    background-color: red;
  }
</style>
<!-- We will cover buttons in week 7! -->
<button class="btn btn-secondary" on:click={() => (current = "messi")} class:clickbackg={current=="messi"}>
  Messi
</button>

<button class="btn btn-secondary" on:click={() => (current = "ronaldo")} class:clickbackg={current=="ronaldo"}>
  Ronaldo
</button>

<button class="btn btn-secondary" on:click={() => (current = "neymar")} class:clickbackg={current=="neymar"}>
  Neymar 
</button>

