<script>
  // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  import { scaleLinear, scaleOrdinal, scaleLog,scaleSqrt} from 'd3-scale';
  import{schemeSet3} from 'd3-scale-chromatic'
  import { axisLeft, axisBottom} from 'd3-axis';
  import { select } from 'd3-selection';

  export let data

const x_scale = scaleLog().domain([340,42350]).range([margin.left,innerWidth]);
const y_scale = scaleLinear().domain([0,90]).range([innerHeight, margin.top]);
const color_scale = scaleOrdinal(schemeSet3).domain(["Asia", "Africa", "Americas", "Europe", "Oceania"]);
const scale_radius = scaleSqrt().domain([0,321675014]).range([2,10])

let x_axis = (x_handle) => {axisBottom(x_scale)(select(x_handle).attr("transform", "translate(0,300)"))};
let y_axis = (y_handle) => {axisLeft(y_scale)(select(y_handle).attr("transform", "translate(50, 5)"))};

</script>

<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform="translate({margin.left}, {margin.top})">
  <g transform="translate(0, {height - margin})" use:x_axis />
  <g transform="translate({margin}, {-margin})" use:y_axis />
  {#if data== "Loading data"} 
  <text transform="translate(300,200)">Loading data</text>
  {:else}
  {#each data as dp}
      {#if dp.income != null && dp.life_exp != null && dp.population != null}
      <circle cx={x_scale(+dp.income)} 
      cy={y_scale(+dp.life_exp)} 
       r={scale_radius(+dp.population)} 
     style="fill: {color_scale(dp.continent)}"/>
      {/if}     
  {/each}
  {/if}
  <g transform={"rotate(-90)"} >
    <text x="-200" y={(innerHeight / 2)-130}>Life Expectancy</text>

  </g>
  <text x={innerWidth / 2} y={innerHeight + 50}>GDP</text>
      <text id="title" fill="currentColor" x=250 y=50>gapminder scattterplot</text>
      <text id="year" fill="currentColor" x=475 y=280>1800</text>

</svg>
<style>
  text {
    text-anchor: middle;
    font-size: 10px;
  }
 #title {
    text-anchor: middle;
    font-size: 15px;
  }
  #year {
    text-anchor: right;
    font-size: 40px;
    opacity: 0.5;
  }
</style>
