<script>
  import { scaleLog } from "d3-scale";
  import { select } from "d3-selection";
  import { axisBottom } from "d3-axis";

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 25, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;



  // Array
  const values = [2, 4, 6, 7, 9];
  const scale = scaleLog([1, 9], [0, innerWidth]);
  const axis = axisBottom(scale)
  const func = function() {return axis(select("#plot"));};
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as vl}
      <circle cx={scale(vl)} cy="{innerHeight/2}" r="10" fill="orange"/>
      {/each}
  </g>
  <g id="plot" use:func transform="translate(3,80)">
  </g>
    <text x={innerWidth/2} y="100" class="text"> x-axis </text>

</svg>
<style>
  text {
    fill: currentColor;
    font-size: small;
    margin: auto;
  }
</style>

