<script>
    import { onMount } from 'svelte';
    import {json} from "d3-fetch"
    import Scatterplot from './_ex_7_scatterplot.svelte';
    import {extent}from 'd3-array'
    let data = ["Loading data"]
    onMount(async () => {
      await json("/data/gapminder.json")
      .then(results => extent(results, function(year) {  if(year.year === "1800") return year }))
      .then(countries => countries[0].countries)
      .then(dataset => data = dataset)
    }); 
    </script>
      <Scatterplot data={data}/>
    